<<<<<<< HEAD
<% title = "Account Details" %>
=======

<% title = "User Details" %>
>>>>>>> 6b4444dd132764f6f5af6e2c8ff708257fdb4d73

<nav>
  <div class="flex-container">
    <div class="main-nav pad">
      <div>
        <div>First Name: <%= user.firstName %></div>
        <div>Last Name: <%= user.lastName %></div>
        <div>Email Address: <%= user.emailAddress %></div>
        <div>Location: <%= user.location %></div>
        <div>Bio: <%= user.bio %></div>
        <div>Joined: <%= moment(user.createdAt).fromNow() %></div>

        <br />

        <% user.cat.forEach(function(cat) { %>
        <hr />
        <div>
          <div>Cat: <%= cat.name %></div>
          <div>Cat: <%= cat.image %></div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</nav>
