<% title = "Account Details" %>

<nav>
  <div class="flex-container">
    <div class="main-nav pad">
      <div>
        <div>First Name: <%= user.firstName %></div>
        <div>Last Name: <%= user.lastName %></div>
        <div>Email Address: <%= user.emailAddress %></div>
        <div>Location: <%= user.location %></div>
        <div>Bio: <%= user.bio %></div>
        <div>Joined: <%= moment(user.createdAt).fromNow() %></div>
        <% if(currentUser && currentUser._id.toString() == user._id.toString()) { %>
        <div><a href="/user/edit?id=<%= user._id %>">Edit</a></div>
        <div><a href="/user/delete?id=<%= user._id %>">Delete</a></div>   
        <% } %> 
        <br />

        <% user.cat.forEach(function(cat) { %>
        <hr />
        <div>
          <div>Cat: <%= cat.name %></div>
          <div>Cat: <%= cat.image %></div>
        </div>
        <% }) %>
      </div>
    </div>
  </div>
</nav>
