
<div class="title"> <h1> User Details </div>
    <br>
    <div class="second-nav">
      <a href="/user/index" class="btn btn-outline-primary"> Users </a>
        <a href="/user/add" class="btn btn-outline-primary"> Add User </a>

        <a href="/cat/index" class="btn btn-outline-primary"> Cats</a>
        <a href="/cat/add" class="btn btn-outline-primary"> add Cats </a>

        
            <% if(currentUser) { %>
                Hi <%= currentUser.firstName %> <%= currentUser.lastName %>
                <a href="/auth/logout" class="btn btn-outline-primary">Logout</a>

            <% } else { %>
                <a href="/auth/signin"  class="btn btn-outline-primary">Signin</a>
                <a href="/auth/signup"  class="btn btn-outline-primary">Signup</a>
            <% } %>
        
    </div>
<br>
<nav> 
     <div class="flex-container">
        <div class="main-nav pad">
          <div>



            <div>First Name: <%= user.firstName %></div>
            <div>Last Name: <%= user.lastName %></div>
            <div>Email Address: <%= user.emailAddress %></div>
            <div> Location: <%= user.location %></div>
            <div> Bio: <%= user.bio %></div>
            <div>Joined: <%= moment(user.createdAt).fromNow() %></div>
          
          
            <br />
          
            <% user.cat.forEach(function(cat) { %>
            <hr />
            <div>
              <div> Cat: <%= cat.name %> </div>
              <div> Cat: <%= cat.image %> </div>
            </div>
            <% }) %>
          </div>
    </div>
    </div>
