


<div class="title"> <h1> User index </h1> </div>
    <br>
<div class="second-nav">
    <a href="/user/index" class="btn btn-outline-primary"> Users </a>
        <a href="/user/add" class="btn btn-outline-primary"> Add User </a>

        <a href="/cat/index" class="btn btn-outline-primary"> Cats</a>
        <a href="/cat/add" class="btn btn-outline-primary"> add Cats </a>

        
            <% if(currentUser) { %>
                Hi <%= currentUser.firstName %> <%= currentUser.lastName %>
                <a href="/auth/logout" class="btn btn-outline-primary">Logout</a>

            <% } else { %>
                <a href="/auth/signin"  class="btn btn-outline-primary">Signin</a>
                <a href="/auth/signup"  class="btn btn-outline-primary">Signup</a>
            <% } %>
        
</div>
<nav> 
     <div class="flex-container">
        <div class="main-nav pad">
            <table class="table table-striped">
                <tr>
                    <th> First Name</th>
                    <th> Last Name </th>
                    <th>Email Address</th>
                    <th> Location </th>
                    <th> Bio </th>
                    <th>Created At</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            
            <% users.forEach(function(user){   %>  
            <tr>
                <td> <a href="/user/detail?id=<%= user._id %>"><%= user.firstName %></a> </td>
                <td> <a href="/user/detail?id=<%= user._id %>"><%= user.lastName %></a> </td>
                <td> <%= user.emailAddress %></td>
                <td> <%= user.location %></td>
                <td> <%= user.bio %></td>
                <td> <%= moment(user.createdAt).fromNow() %></td>

                <% if(currentUser) { %>
                    <td><a href="/user/edit?id=<%= currentUser._id %>">Edit</a></td>
                    <td><a href="/user/delete?id=<%= currentUser._id %>">Delete</a></td>
                <% } else { %>
                    <td> Edit </td>
                    <td> Delete </td>
                <% } %>
            
            </tr>
            <% }) %>
            
            </table>
        </div>
    </div>

</div>  
</nav>
   