<% title = "Ailurophiles (fancyspeak for Cat Lover)" %>

<nav>
  <div class="flex-container">
    <div class="main-nav pad">
      <table class="table table-striped" id="user-table">
        <tr>
          <th id="tableText">First Name</th>
          <th id="tableText">Last Name</th>
          <th id="tableText">Email Address</th>
          <th id="tableText">Location</th>
          <!-- <th id="tableText">Bio</th> -->
          <th id="tableText">Joined</th>
        </tr>
       
        <% users.forEach(function(user){ %>
        <tr>
          <td>
            <a href="/user/detail?id=<%= user._id %>"><%= user.firstName %></a>
          </td>
          <td>
            <a href="/user/detail?id=<%= user._id %>"><%= user.lastName %></a>
          </td>
          <td id="tableText"></div><%= user.emailAddress %></td>
          <td id="tableText"><%= user.location %></td>
          <!-- <td id="tableText"><%= user.bio %></td> -->
          <td id="tableText"><%= moment(user.createdAt).fromNow() %></td>
        </tr>
        <% }) %>
      </table>
    </div>
  </div>
</nav>
