
<div class="title"> <h2> <%= cat.catname %> </h2> </div>
    <br>
<nav> 
     <div class="flex-container">
        <div class="second-nav"></div>
        <div class="main-nav pad">
            <!-- IMAGE PLACE HOLDER -->
<div>
    Image: <%= cat.image %>

</div>
<!-- IMAGE PLACE HOLDER -->

<!-- RATINGS SLIDER -->
<form action="/action_page.php" method="get">
    <label for="vol">Rating (1 - 10):</label>
    <input type="range" id="vol" name="vol" min="1" max="10" step="1" oninput="this.nextElementSibling.value = this.value"/>
  <output></output> &nbsp;
    <input type="submit" value="Submit">

<div>
    Age: <%= cat.age %>
</div>

<div>
    Breed: <%= cat.breed %>
</div>

<div>
    Likes: <%= cat.likes %>
</div>

<div>
    Dislikes: <%= cat.dislikes %>
</div>

<div>
    Joined: <%= moment(cat.createdAt).fromNow() %>
</div>

<div>
   Last updated: <%= moment(cat.updatedAt).fromNow() %>
</div>

<br>

<% cat.user.forEach(function(user) { %>

<div> Owner: <%= user.firstName + " " + user.lastName %></div>
<div> Joined: <%= moment(user.createdAt).fromNow() %></div>
<hr>

<% }) %>

    </div>
    </div>

</div>  
</nav>