<% title = `${cat.name}` %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<nav> 
     <div class="flex-container">
        <div class="main-nav pad">
            <div id="catDetails">
    
<div id="catImage">
    <img src="..<%= cat.image %>" height="auto" width="50%"/>

</div>

<!-- COMMENTS FORM BELOW -->
<!-- <form action="/html/tags/html_form_tag_action.cfm" method="post">
    <div>
    <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
    Add a comment...
    </textarea>
    </div>
    <input type="submit" value="Post Comment">
    </form> -->

<!-- RATINGS SLIDER -->
<form action="/cat/detail" method="POST" id="formDetails">
    <label for="vol" id="rating">Rating (1 - 10):</label>
    <input type="range" id="vol" name="vol" min="1" max="10" step="1" oninput="this.nextElementSibling.value = this.value; console.log(vol.value); console.log(typeof vol.value); console.log(document)"/> 
  <output id="rating"></output> &nbsp;
    <input type="submit" value="Submit Vote" name="rating" class="btn btn-primary cat-btn" id="submitbtn">
    <input type="hidden" name="id" value="<%= cat._id %>">
    </form>

<div class="catDetails">
<div id="attribute">
    Age: <%= cat.age %>
</div>

<div id="attribute">
    Breed: <%= cat.breed %>
</div>

<div id="attribute">
    Rating: <%= cat.rating %> 
</div>

<div id="attribute">
    Likes: <%= cat.likes %>
</div>

<div id="attribute">
    Dislikes: <%= cat.dislikes %>
</div>

<div id="attribute">
    Joined: <%= moment(cat.createdAt).fromNow() %>
</div>

<div id="attribute">
   Last updated: <%= moment(cat.updatedAt).fromNow() %>
</div>

<br>

<% cat.user.forEach(function(user) { %>

<div id="attribute"> Owner: <%= user.firstName + " " + user.lastName %></div>
<div id="attribute"> Joined: <%= moment(user.createdAt).fromNow() %></div>

<a href="/cat/edit?id=<%= cat._id %>" id="attribute" class="btn btn-primary cat-btn">
    Edit <%= cat.name %>
</a>

<% }) %>

    </div>
    </div>

</div>
</div>  
</nav>