
<div class="title"> <h2> <%= cat.name %> </h2> </div>
    <br>
    <div class="second-nav"></div>
<br>
<nav> 
     <div class="flex-container">
        <div class="main-nav pad">
            <!-- IMAGE PLACE HOLDER -->
<div>

    Image: <img src="../images/user_photos/<%= cat.image %>" width="100" height="100"/>


</div>
<!-- IMAGE PLACE HOLDER -->

<!-- RATINGS SLIDER -->
<form action="/cat/index" method="GET">
    <label for="vol">Rating (1 - 10):</label>
    <input type="range" id="vol" name="vol" min="1" max="10" step="1" oninput="this.nextElementSibling.value = this.value; console.log(vol.value); console.log(typeof vol.value)"/>
  <output></output> &nbsp;
    <input type="submit" value="Submit" onsubmit="cat.rating.push(parseInt(vol.value))">

<div>
    Age: <%= cat.age %>
</div>

<div>
    Breed: <%= cat.breed %>
</div>

<div>
    Rating: <%= cat.rating %> 
</div>

<div>
    Likes: <%= cat.likes %>
</div>

<div>
    Dislikes: <%= cat.dislikes %>
</div>

<div>
    Joined: <%= moment(cat.createdAt).fromNow() %>
</div>

<div>
   Last updated: <%= moment(cat.updatedAt).fromNow() %>
</div>

<br>

<% cat.user.forEach(function(user) { %>

<div> Owner: <%= user.firstName + " " + user.lastName %></div>
<div> Joined: <%= moment(user.createdAt).fromNow() %></div>
<hr>

<% }) %>

    </div>
    </div>

</div>  
</nav>