<div class="title"> <h1> Edit <%= cat.name %> </h1> </div>
    <br>
    <div class="second-nav"></div>
<br>
<nav> 
     <div class="flex-container">
        <div class="main-nav">
            <form method="POST" action="/cat/update?_method=PUT">
            <br>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Cat Name</label>
                <div class="col-sm-10">
                    <input name="name" type="text" value="<%= cat.name %>" class="form-control"/>
                </div>
                <br>
                <br>
            
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Photo</label>
                    <div class="col-sm-10">
                        <input type="file" id="photo" name="photo" accept="image/*" onchange="loadFile(event)">
                        <p><img id="output" width="100" /></p>
            
                        <script type="text/javascript">
                            var loadFile = function(event) {
                              var image = document.getElementById('output');
                              image.src = URL.createObjectURL(event.target.files[0]);
                            };
                          </script>
                    </div>
                </div>
                <br>
                <br>
            
                <div>
                    <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Birth Date</label>
                    <div class="col-sm-10">
                    <input type="date" type="month" id="bdaymonth" name="age" class="form-control">
                </div>
                <br>
                <br>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Age</label>  
                </div>
            
                <div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label">Breed</label>
                        <div class="col-sm-10">
                        <select name="breed" class="form-control">
                        <option value="">Please select an option</option>
                        <option value="britishLonghair">British Longhair</option>
                        <option value="britishShorthair">British Shorthair</option>
                        <option value="bengal">Bengal</option>
                        <option value="burmese">Burmese</option>
                        <option value="gingerTabby">Ginger Tabby</option>
                        <option value="maineCoon">Maine Coon</option>
                        <option value="moggy">Moggy</option>
                        <option value="persian">Persian</option>
                        <option value="ragdoll">Ragdoll</option>
                        <option value="russianBlue">Russian Blue</option>
                        <option value="scottishFold">Scottish Fold</option>
                        <option value="siamese">Siamese</option>
                        <option value="sphynx">Sphynx</option>
                        <option value="tabby">Tabby</option>
                        <option value="other">Other</option>
                        </select>
                </div>
                <br>
                <br>
            
            
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Likes</label>
                    <div class="col-sm-10">
                    <input name="likes" type="text" value="<%= cat.likes %>" class="form-control"/>
                </div>
                <br>
                <br>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Dislikes</label>
                    <div class="col-sm-10">
                    <input name="dislikes" type="text" value="<%= cat.dislikes %>" class="form-control"/>
                </div>
                <br>
                <br>
            
            
                <input type="hidden" name="id" value="<%= cat._id %>" />
            
                <input type="submit" name="Update Cat" class="btn btn-primary cat-btn"/>
            
            </form>

    </div>
    </div>

</div>  
</nav>