<h1> Edit Cat </h1>

<form method="POST" action="/cat/update?_method=PUT">

    <div>
        <label>Cat Name</label>
        <input name="name" type="text" value="<%= Cat.name %>" />
    </div>

    <!-- IMAGE PLACE HOLDER -->
    <div>
        <label>Image</label>
        <inpute name="image" type="text" value="<%= Cat.dislikes %>" />
    </div>
    <!-- IMAGE PLACE HOLDER -->

    <div>
        <label>Birth Date</label>
        <input type="date" type="month" id="bdaymonth" name="age">
    </div>

    <div>
        <label>Breed</label>
        <select name="breed" value="<%= Cat.breed %>">
            <option value="">Please select an option</option>
            <option value="britishLonghair">British Longhair</option>
            <option value="britishShorthair">British Shorthair</option>
            <option value="bengal">Bengal</option>
            <option value="burmese">Burmese</option>
            <option value="gingerTabby">Ginger Tabby</option>
            <option value="maineCoon">Maine Coon</option>
            <option value="moggy">Moggy</option>
            <option value="persian">Persian</option>
            <option value="ragdoll">Ragdoll</option>
            <option value="russianBlue">Russian Blue</option>
            <option value="scottishFold">Scottish Fold</option>
            <option value="siamese">Siamese</option>
            <option value="sphynx">Sphynx</option>
            <option value="tabby">Tabby</option>
            <option value="other">Other</option>
    </div>

    <div>
        <label>Location:</label>
        <select name="location">
            <option value="">Please select an option</option>
            <option value="bath">Bath and North East Somerset</option>
            <option value="bedfordshire">Bedfordshire</option>
            <option value="berkshire">Berkshire</option>
            <option value="bristol">Bristol</option>
            <option value="buckinghamshire">Buckinghamshire</option>
            <option value="cambridgeshire">Cambridgeshire</option>
            <option value="cheshire">Cheshire</option>
            <option value="cornwall">Cornwall</option>
            <option value="county Durham">County Durham</option>
            <option value="cumbria">Cumbria</option>
            <option value="derbyshire">Derbyshire</option>
            <option value="devon">Devon</option>
            <option value="dorset">Dorset</option>
            <option value="riding">East Riding of Yorkshire</option>
            <option value="eastSussex">East Sussex</option>
            <option value="essex">Essex</option>
            <option value="gloucestershire">Gloucestershire</option>
            <option value="greaterLondon">Greater London</option>
            <option value="greaterManchester">Greater Manchester</option>
            <option value="hampshire">Hampshire</option>
            <option value="herefordshire">Herefordshire</option>
            <option value="hertfordshire">Hertfordshire</option>
            <option value="isleofWight">Isle of Wight</option>
            <option value="islesofScilly">Isles of Scilly</option>
            <option value="kent">Kent</option>
            <option value="lancashire">Lancashire</option>
            <option value="leicestershire">Leicestershire</option>
            <option value="lincolnshire">Lincolnshire</option>
            <option value="merseyside">Merseyside</option>
            <option value="norfolk">Norfolk</option>
            <option value="northSomerset">North Somerset</option>
            <option value="northYorkshire">North Yorkshire</option>
            <option value="northamptonshire">Northamptonshire</option>
            <option value="northumberland">Northumberland</option>
            <option value="nottinghamshire">Nottinghamshire</option>
            <option value="oxfordshire">Oxfordshire</option>
            <option value="rutland">Rutland</option>
            <option value="shropshire">Shropshire</option>
            <option value="somerset">Somerset</option>
            <option value="southGloucestershire">South Gloucestershire</option>
            <option value="southYorkshire">South Yorkshire</option>
            <option value="staffordshire">Staffordshire</option>
            <option value="suffolk">Suffolk</option>
            <option value="surrey">Surrey</option>
            <option value="tyne&Wear">Tyne & Wear</option>
            <option value="warwickshire">Warwickshire</option>
            <option value="westMidlands">West Midlands</option>
            <option value="westSussex">West Sussex</option>
            <option value="westYorkshire">West Yorkshire</option>
            <option value="wiltshire">Wiltshire</option>
            <option value="worcestershire">Worcestershire</option>
        </select>
    </div>

    <div>
        <label>Likes</label>
        <inpute name="likes" type="text" value="<%= Cat.likes %>" />
    </div>

    <div>
        <label>Dislikes</label>
        <inpute name="dislikes" type="text" value="<%= Cat.dislikes %>" />
    </div>

    <div>
        <label>Dislikes</label>
        <inpute name="dislikes" type="text" value="<%= Cat.dislikes %>" />
    </div>


    <input type="hidden" name="id" value="<%= Cat._id %>" />

    <button type="submit"> Update Cat </button>

</form>