<div class="title"> <h1> Edit <%= cat.name %> </h1> </div>

    <br>
    <div class="second-nav"></div>
<br>
<nav> 
     <div class="flex-container">
        <div class="main-nav">
            <form method="POST" action="/cat/update?_method=PUT">

                <div>
                    <label>Cat Name</label>
                    <input name="name" type="text" value="<%= cat.name %>" />
                </div>
            
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Photo</label>
                    <div class="col-sm-10">
                        <input type="file" id="photo" name="photo" accept="image/*" onchange="loadFile(event)">
                        <p><img id="output" width="100" /></p>
            
                        <script type="text/javascript">
                            var loadFile = function(event) {
                              var image = document.getElementById('output');
                              image.src = URL.createObjectURL(event.target.files[0]);
                            };
                          </script>
                    </div>
                </div>
            
                <div>
                    <label>Birth Date</label>
                    <input type="date" type="month" id="bdaymonth" name="age">
                </div>
            
                <div>
                    <label>Breed</label>
                    <select name="breed">
                        <option value="">Please select an option</option>
                        <option value="britishLonghair">British Longhair</option>
                        <option value="britishShorthair">British Shorthair</option>
                        <option value="bengal">Bengal</option>
                        <option value="burmese">Burmese</option>
                        <option value="gingerTabby">Ginger Tabby</option>
                        <option value="maineCoon">Maine Coon</option>
                        <option value="moggy">Moggy</option>
                        <option value="persian">Persian</option>
                        <option value="ragdoll">Ragdoll</option>
                        <option value="russianBlue">Russian Blue</option>
                        <option value="scottishFold">Scottish Fold</option>
                        <option value="siamese">Siamese</option>
                        <option value="sphynx">Sphynx</option>
                        <option value="tabby">Tabby</option>
                        <option value="other">Other</option>
                </div>
            
            
                <div>
                    <label>Likes</label>
                    <inpute name="likes" type="text" value="<%= cat.likes %>" />
                </div>
            
                <div>
                    <label>Dislikes</label>
                    <inpute name="dislikes" type="text" value="<%=  cat.dislikes %>" />
                </div>
            
            
                <input type="hidden" name="id" value="<%= cat._id %>" />
            
                <button type="submit"> Update Cat </button>
            
            </form>

    </div>
    </div>

</div>  
</nav>