
<div class="title"> <h1> Cats </h1> </div>
    <br>
<nav> 
     <div class="flex-container">
        <div class="second-nav"></div>
        <div class="main-nav">
            <table class="table table-striped">
                <tr>
                    <th> Cat Name </th>
                    <th> Image </th>
                    <th> Age </th>
                    <th> Breed </th>
                    <th> Likes </th>
                    <th> Dislikes </th>
                </tr>
                <br>
                <tr>
                    <th> Owner </th>
                    <th> Created At </th>
                    <th> Updated At </th>
                    <th> Edit </th>
                    <th> Delete </th>
                </tr>
            
            <% cats.forEach(function(cat){ %>  
                <tr>
                    <td> <a href="/cat/detail?id=<%= cat._id %>"> <h3><%= cat.name %></h3> </a> </td>
                    <td> <%= cat.image %></td>
                    <td> <%= cat.age %></td>
                    <td> <%= cat.breed %></td>
                    <td> <%= cat.likes %></td>
                    <td> <%= cat.dislikes %></td>
                </tr>
                <br>
                <tr>
                    <td> <%= cat.owner %></td>
                    <td> <%= moment(cat.createdAt).fromNow() %></td>
                    <td> <%= moment(cat.updatedAt).fromNow() %></td>
                    <td> <a href="/cat/edit?id=<%= cat._id %>">Edit</a></td>
                    <td> <a href="/cat/delete?id=<%= cat._id %>">Delete</a></td>
            
                </tr>
            <% }) %>
            
            
            </table>
        </div>
    </div>

</div>  
</nav>
