<div class="title"> <h1> Cats </h1> </div>
    <br>
    <div class="second-nav"></div>
<br>
<nav> 
     <div class="flex-container">
        <div class="main-nav pad">
            <div class="catWindow"></div>

            <% cats.forEach(function(cat){ %>  

            <div class="w3-container"></div> <a href="/cat/detail?id=<%= cat._id %>"></a>
              
                <div class="w3-card-4" style="width:25%">
                <a href="/cat/detail?id=<%= cat._id %>">
                  <img src="..<%= cat.image %>" alt="<%= cat.name %>" style="width:100%" />
                </a>
                  <!-- <div class="w3-container w3-center"> -->
                    <div class="catFooter">
                    <h3><%= cat.name %></h3>
                    <h5>Rating: <%= cat.rating %></h5>
                    </div>
                  </div>
                  <% }) %> 
                </div>
        </div>
        </div>
    </div>

</div>  
</nav>
          